outputs/*
inputs/*
outputs2/*
inputs2/*
outputs_sample/*
inputs_rfam_RF01739_id/*
outputs_rfam_RF01739_id/*

results/*
plots/*
results2/*
plots2/*
results*
logs/*

run_tests.sh
results.txt
results_extended.txt

.ipynb_checkpoints/*
.idea/*
__pycache__/*
