outputs/*
inputs/*
inputs_rfam_RF01739_id/*
outputs_rfam_RF01739_id/*
outputs_loops_v2_id/*
inputs_loops_v2_id/*

results/*
plots/*
results_rfam_RF01739_id/*
plots_rfam_RF01739_id/*
results_loops_v2_id/*
plots_loops_v2_id/*

logs/*
dockerhelpers/*
sbatch_*
slurm_logs/*

run_tests.sh

.ipynb_checkpoints/*
.idea/*
__pycache__/*
